.container {
  position: relative;
  height: 20pt;
  padding-left: 15pt;
}

.titlebarParentLeft,
.titlebarParentRight {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 5px;
  height: 22px;
}

.titlebarParentRight {
  left: 9px;
}
